<mat-toolbar color="primary">
	Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
	<div>
		YEAR PICKER:
		<jp-multi-datepicker tabindex="-1"  mode="YEAR" label="Choose a year" [(ngModel)]="chosenYearDate" [max]="2020"></jp-multi-datepicker><br>
    {{chosenYearDate}}
	</div>
	<div>
		MONTH PICKER:
		<jp-multi-datepicker *ngIf="visible" mode="MONTH" label="Choose a month" touchUi="true" [formControl]="monthInputCtrl"
		 [max]="'3/2020'"></jp-multi-datepicker><br>
    {{monthInputCtrl.value}}
	</div>
	<div>
		SEMESTER PICKER:
		<jp-multi-datepicker mode="SEMESTER" label="Start of semester" [(ngModel)]="chosenSemesterDate"
		 [max]="'3/2020'"></jp-multi-datepicker>
     <br>
    {{chosenSemesterDate}}
	</div>
  <div>
    DAY PICKER:
		<jp-multi-datepicker label="Choose a date" [(ngModel)]="chosenDate" touchUi="true"></jp-multi-datepicker><br>
    {{chosenDate}}
	</div>
	<div>
    WEEK PICKER:
		<jp-multi-datepicker mode="WEEK" label="Choose a week" touchUi="true" [(ngModel)]="chosenWeekDate"></jp-multi-datepicker><br>
    {{chosenWeekDate}}
	</div>
  <button (click)="visible=!visible">Click to hide</button>
</div>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->